<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scatch - Shop Bags!</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    
    <style>
        body {
            font-family: 'Helvetica Now Display', Helvetica, Arial, sans-serif;
        }
    </style>
</head>

<body>
    <nav class="w-full fixed top-0 left-0 px-5 py-3">
        <h3 class="text-xl">Scatch</h3>
    </nav>
